@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ef4444;
  --color-primary-dark: #dc2626;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.hide-footer #app-footer {
  display: none;
}

.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shimmer 1.5s infinite;
}
